@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans');
@import url('https://fonts.googleapis.com/css?family=Righteous');
:root{
  --gunmetal:rgba(88, 88, 88, .4);
  --gris:#585858;
  --mint: #3DAA7F;
  --green: #02C39A;
  --verde: #1bbfb5;
  }

  h1,h2,h3{
    font-family: 'Righteous', cursive;
  }

html,body, .contenedor{
   /* Workaround for some mobile browsers */
   height:100%;
   width: 100%;
   padding: 0;
   margin: 0;
}



.intro{
    height:100%;
     background-image: url('../img/background2.png');
    background-size: cover;

}
.intro2{
    height:100vh;
   width: 100vw;
     background: url('../img/background1.png');
    background-size: cover;
    top: 0;

}
.intro3{
    height:100vh;
    width: 100vw;
    background: url('../img/background3.png') no-repeat center center fixed;
    background-size: cover;
    top: 0;

}
.overlay{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+24,0.62+41,0.1+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 24%, rgba(0,0,0,0.6) 41%, rgba(0,0,0,0.1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 24%,rgba(0,0,0,0.6) 41%,rgba(0,0,0,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 24%,rgba(0,0,0,0.6) 41%,rgba(0,0,0,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#1a000000',GradientType=0 ); /* IE6-9 */
}

.overlay1{
  width: 100vw;
  height: 100vh;
background: rgb(13,112,106);
background: -moz-linear-gradient(180deg, rgba(13,112,106,0.4822303921568627) 0%, rgba(27,191,181,0.2805497198879552) 45%, rgba(21,215,204,0.2777485994397759) 100%);
background: -webkit-linear-gradient(180deg, rgba(13,112,106,0.4822303921568627) 0%, rgba(27,191,181,0.2805497198879552) 45%, rgba(21,215,204,0.2777485994397759) 100%);
background: linear-gradient(180deg, rgba(13,112,106,0.4822303921568627) 0%, rgba(27,191,181,0.2805497198879552) 45%, rgba(21,215,204,0.2777485994397759) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d706a",endColorstr="#15d7cc",GradientType=1);
}

.overlay2{
    width: 100vw;
  height: 100vh;
background: rgb(0,0,0) ;
background: -moz-linear-gradient(180deg, rgba(0,0,0,0.4514180672268907) 0%, rgba(255,255,255,0) 100%);
background: -webkit-linear-gradient(180deg, rgba(0,0,0,0.4514180672268907) 0%, rgba(255,255,255,0) 100%);
background: linear-gradient(180deg, rgba(0,0,0,0.4514180672268907) 0%, rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}

.overlay3{
      width: 100vw;
  height: 100vh;
  background: rgb(0,0,0);
background: -moz-radial-gradient(circle, rgba(0,0,0,0.1516981792717087) 0%, rgba(255,255,255,0) 100%);
background: -webkit-radial-gradient(circle, rgba(0,0,0,0.1516981792717087) 0%, rgba(255,255,255,0) 100%);
background: radial-gradient(circle, rgba(0,0,0,0.1516981792717087) 0%, rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}

.degradado1{
  height:100vh;
   width: 100vw;
    background-size: cover;
    top: 0;
  background: rgb(13,161,152);
background: linear-gradient(180deg, rgba(13,161,152,1) 0%, rgba(27,191,181,1) 45%, rgba(21,215,204,1) 100%);
}

.content{
  text-align: right;
  padding-bottom: 3rem;
  font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Sans', sans-serif;

}



.fondo{
    background: url('../img/background1.png') no-repeat center center fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment:fixed;
    margin: 0;
    padding: 0;
}

#homecontainer,
#aboutcontainer,
#contactcontainer{
    padding-top: 4rem;
}


.home-inner{

    color: white;
    text-align: right;
    max-width: 100%;
    padding-right: 3rem;
}

.home-inner h1{
/*font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Sans', sans-serif;*/
  font-weight: 100;
  font-size: 4rem;
  line-height: 70%;
  text-shadow: 0px 3px 3px #0d706a;

}

.home-details{
      padding-top: 2rem;
    color: white;
    text-align: right;
    max-width: 100%;
    padding-right: 3rem;
}

.about-details{
      padding-top: 2rem;
    color: white;
    text-align: center;
    max-width: 100%;

    width: 100%;
}
.about-details p{
font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 50%;
  width: 100%;
}
.home-details p{
font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 50%;
}
.about-inner{
  color: white;
  text-align: center;
}

.about-inner h1{
/*font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Sans', sans-serif;*/
  font-weight: 100;
  line-height: 70%;
  text-shadow: 0px 3px 3px #0d706a;

}

.contact-inner{
    color: white;
    text-align: center;
    max-width: 100%;
    padding-right: 0rem;
}

.contact-inner h1{
/*font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Sans', sans-serif;*/
  font-weight: 100;
  line-height: 70%;
  text-shadow: 0px 3px 3px #0d706a;

}

.contact-details p{
      padding-top: 2rem;
    color: white;
    text-align: center;
    max-width: 100%;
    padding-right: 0rem;
}

.landing{
      background-color: rgba(0,0,0,0.3);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      transition: all 1s ease;
}


.bg-custom{
  background-color: var(--gris) !important;
  transition: all 1s ease;
}

.navbar-trans {
  background: rgba(255,255,255,.14); 
}

.navbar-brand{
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'IBM Plex Sans', sans-serif;
   font-family: 'Righteous', cursive;
}

.navbar-custom{
  background-color: var(--gunmetal) !important;
  transition: all 1s ease;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}




.sidebarimg{
    width:400px;
}


/**********************/

.navbar-toggler>.close {
    display:inline;
}
/*.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
    display:none;
}*/

.close{
    float: right;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1;
    color: rgba(255,255,255,.7);
    text-shadow: none;
    opacity: 1;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,1);
}


/*********media q***********/


@media (max-width: 575.98px) {
      .intro{
           background-position: -8rem 0rem; 

       }
      .content{
            display: none;
       }
       .navbar-nav .nav-link {
          border-bottom: 1px solid #cccccc;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.5px;
          }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .intro{
        background-position: -300px 0px; 
     }

    .home-inner h1{
        font-weight: 100;
        font-size: 4rem;
        line-height: 70%;
     }

    .home-details p{
        font-weight: 100;
        font-size: 1.2rem;
        line-height: 50%;
     }
     .navbar-nav .nav-link {
          border-bottom: 1px solid #cccccc;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.5px;
          }
}


@media (min-width: 768px) and (max-width: 991.98px) {
      .intro{
          background-position: 100px 0px; 
       }
      .content{
          display: none;
       }
       .navbar-nav .nav-link {
          border-bottom: none;
          }


@media (min-width: 992px) and (max-width: 1199.98px) {
    .home-inner h1{
        font-weight: 100;
        font-size: 3.5rem;
        line-height: 70%;
     }

    .home-details p{

        font-weight: 100;
        font-size: 1.2rem;
        line-height: 50%;
    }

    .content{
         text-align: center;
     }

     .intro{
         background-position: -80px 0px; 
     }
     .navbar-nav .nav-link {
          border-bottom: none;
          }
}


@media (min-width: 1200px) {
  .intro{
        background-position: -80px 0px; 
 }

  .home-inner h1{
        font-size: 5rem;
        line-height: 70%;
 }

  .home-details p{
        font-weight: 100;
        font-size: 2rem;
        line-height: 50%;
  }
  .navbar-nav .nav-link {
          border-bottom: none;
          }
}
