
    <div class="degradado1">
        <div class="" id="contactcontainer">
          <div class="content">
            <div class="contact-inner">
                <h1 class="display-3 animated  bounce delay-0s">Contactame</h1>

            </div>
            <div class="contact-details">
                <p class="animated  bounce delay-0s">{{ message }}</p>
            </div> 
          </div>

<div class="container">
        <div>
            Country:
            <select id="country" ng-model="statessource" ng-options="country for (country, states) in countries" ng-change="GetSelectedCountry()"
            class="form-control">
                <option value=''>Select</option>
            </select>
        </div>
        <div style='height: 15px;'>
            &nbsp;</div>
        <div>
            States:<select id="state" ng-disabled="!statessource" ng-model="citiessource" ng-options="state for (state,city) in statessource"
                ng-change="GetSelectedState()" class="form-control"><option value=''>Select</option>
            </select>
        </div>
        <div style='height: 15px;'>
            &nbsp;</div>
        <div>
            City:<select id="city" ng-disabled="!citiessource || !statessource" ng-model="city"><option value=''>
                Select</option>
                <option ng-repeat="city in citiessource" value='{{city}}'>{{city}}</option>
            </select>
        </div>
        <div style='height: 15px;'>
            &nbsp;</div>
        <div>
            <span>Selected Country: </span>
            <label>
                {{strCountry}}</label>
        </div>
        <div style='height: 15px;'>
            &nbsp;</div>
        <div>
            <span>Selected State: </span>
            <label>
                {{strState}}</label>
        </div>
        <div style='height: 15px;'>
            &nbsp;</div>
        <div>
            <span>Selected City: </span>
            <label>
                {{city}}</label>
        </div>
    </div>
      </div>
    </div>
