    <div class="intro">
    	<div class="overlay3" id="homecontainer">
	      <div class="content">
	      	<section class="os-animation home-inner" data-os-animation="bounceInUp" data-os-animation-delay="0s">
	      		<h1 class="display-3">Home</h1>
	      		<h1 class="display-3">Pagies</h1>
	      	</section>
	        <section class="os-animation home-details" data-os-animation="bounceInUp" data-os-animation-delay=".1s">
	      		<p>{{ message }}</p>
	      	</section>	
	      </div>
      </div>
    </div>
