    <div class="intro">
    	<div class="overlay3" id="homecontainer">
			<div class="row fixm" >
				<div class="col">
					<div class="home-inner">
		      		    <h1 class="display-3 animated  bounce delay-0s">Home</h1>
		      		    <h1 class="display-3 animated  bounce delay-0s">Pagies</h1>
	         		</div>
				</div>
    		</div>
    		<div class="row fixm" >
    			<div class="col-md-6">
    			</div>
    			<div class="col-md-6">
    		 		<div class="home-details">
	      		        <p class="animated  bounce delay-0s">{{ message }}</p>
	      	        </div>	
    			</div>
    		</div>
      </div>
    </div>
